.doing {
  padding-top: 0;
}

.doing__list {
  justify-content: space-between;
  margin-top: 50px;
}
.doing__list > item {
  flex-basis: calc(100% / 3 - 20px);
}

.doing__wrap {
  position: relative;
}

.doing__text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
